*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.floater{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    background-color:rgb(253 236 236);
}

.floater a{
    color: rgb(255, 0, 0);
}
.container{
    background-color:rgb(245 250 255);
    height: 95vh;
    width: 100%;
}
.content h1{
    padding-top: 70px;
    padding-left:160px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.content p{
    font-size: 18px;
    margin-left: 180px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
/*form */

.input-box{
    background-color: #fff;
    height: 55vh;
    width: 30%;
    float: right;
    margin-right: 50px;
    margin-top:-370px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 20px 1px rgb(129, 118, 118);

}
form h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.info{
    margin: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    width: 80%;
    height: 6vh;
    padding: 5px;
    border-radius: 5px;
   
}
.input-box h5{
text-align: center;
font-size: 18px;
padding: 10px;

}
.toggler{
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: right;
    text-align: center;
    margin-top: -18px;
    margin-right: 45px;
    
}
button{
    height: 7vh;
    width: 80%;
    background-color: rgb(255, 234, 8);
    text-align: center;
    font-size: 19px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 47px;
    text-decoration: none;
    border: none;

}
.list h2{
    margin-top: 60px;
    margin-left:190px;
}
.list ul{
    margin-top: 20px;
    margin-left:180px;
    font-family:Arial, Helvetica, sans-serif ;
}
.container a{
    margin-top:10px;
    padding-left: 230px;
    font-size: 17px;
}
.second-container{
    height: 13vh;
    width: 100%;
    background-color: rgb(230 242 255);
}
.icons{
    display: flex;
    padding: 25px;
    justify-content: space-around;
}
.icon1{
    display: flex;

}
.icon1 p{
    margin-top: 5px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon1 b{
    font-size: 20px;
}
.icon2{
    display: flex;

}
.icon2 p{
    margin-top: 5px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon2 b{
    font-size: 20px;
}
.icon3{
    display: flex;

}
.icon3 p{
    margin-top: 5px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon3 b{
    font-size: 20px;
}
.third-container{
    align-items: center;
    height: 10vh;
    background-color: rgb(230 242 255);
    width: 90%;
    margin: 70px;
    border-radius: 10px;
    border-radius: blue;
    padding: 30px;
}
.a3{
    text-decoration: none;
    color: black;
    padding: 38px;

}
.gst{
    margin-left: 180px;
    margin-top: 100px;
}

.heading {
    text-align:center;
    
}
.inner {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 60vh;
    width: 55%;
    background-color: #fff;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 19px;
    text-align: justify;
    
}
.note{
    display: flex;
    background-color:rgb(230 242 255);
    height: 7vh;
    width: 78%;
    text-align: center;
    margin-left: 155px;
    border-radius: 10px;
    padding: 10px;
    
}
.note p{
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    
}
.main-act{
    margin-top: 100px;
}
.act h2{
    padding: 5px;
}
.act{
   width: 80%;
    height: 15vh;
    text-align:center ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    padding: 20px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(230 242 255) ;
}

.inner-benefits{
    text-align: center;
    margin: 50px;
}
.inner-benefits p{
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.inner-benefits h1{
    font-family: Arial, Helvetica, sans-serif;
}
.row1{
    display: flex;
    justify-content: space-around;

}
.card1{
    background-color: rgb(230 242 255);
    height: 40vh;
    width: 20%;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    border-radius: 5px;

}
.card1 h2{
    padding: 10px;
}
.card1 p{
    padding: 10px;
}
.notice1{
    background-color:rgb(247 247 247);
    width: 70%;
    height: 37vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    
}
.notice1 h1{
    margin: 15px;
}
.inner-notice{
    display: flex;
}
.inner-notice p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    text-align: justify;
    margin: 18px;
}
.img2{
    height: 25vh;
    width: auto;
    padding: 10px;
}
.notice2{
    background-color:rgb(247 247 247);
    width: 73%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 110px;
    padding: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.img3{
    float: right;
    margin-top: -450px;
    height: auto;
    width: 30%;
}
.notice2 h1{
margin-left: 90px;
margin-bottom: 20px;
}
.notice2 p{
    font-size: 19px;
    margin-left: 90px;
margin-bottom: 25px;
}
.shell-list ul{
    font-size: 19px;
    margin-left: 90px;
margin-bottom: 25px;
}
.shell-list ul li{
   margin: 25px;
}
.outer-shell{
    background-color:rgb(245 250 255) ;
    width: 100%;
    height:275vh;
    margin-top: 100px;
}
.shell2{
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.shell2 p{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
table{
    
    height: 80vh;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(245, 237, 237);
    box-shadow: 2px 2px 2px 2px rgb(65, 57, 59);
    margin-top: 60px;
    text-align: center;
}
.head{
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.head p{
    margin: 40px;
    font-size: 17px;
}
.table2{
    height: 80vh;
    width: 70%;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(245, 237, 237);
    box-shadow: 2px 2px 2px 2px rgb(65, 57, 59);
    margin-top: 60px; 
    font-family: Arial, Helvetica, sans-serif;
}
.table2 th{
    box-shadow: 1px 1px 1px 1px rgb(187, 184, 184);
    padding: 10px;
}
.table2 td{
    box-shadow: 1px 1px 1px 1px rgb(187, 184, 184);
    padding: 10px;
    text-align: center;
}
.note10{
    display: flex;
    background-color:rgb(230 242 255);
    height: 10vh;
    width: 78%;
    text-align: center;
    margin-left: 155px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px 1px 1px 1px rgb(0, 153, 255);
    
}
.note10 p{
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding-top: 10px;
    
    
}
.shell5{
    display: flex;
}
.inside{
    
    height: 73vh;
    width: 50%;
    margin-top:70px;
    margin-left: 60px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.inside h1{
    text-align: center;
}
.inside p{
    margin: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
ul li{
 margin: 10px;
 font-size: 19px;
 margin-left: 70px;

}
.side-img{
   float: right;
   margin-top: 230px;
   height: 50vh;
   width: auto;
}
.section5{
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.para{
    padding:40px;
    font-size: 19px;
    margin-bottom:40px
    
}
.inline-img{
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 70%;
    
}
.line{
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    color: rgb(67, 51, 51);
}
.line-img{
    display: flex;
    height: 7vh;
    width: auto;
    justify-content: space-between;
    margin-top: -97px;
}
.arrow{
    height: 3vh;
    width: auto;
}
.file{
    margin-top: -50px;
}
.img-heading{
   display: flex;
   justify-content: space-between;
   font-family: Arial, Helvetica, sans-serif;

   
}
.img-heading h3{
    margin: 10px;
    
}
.img-para{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}
.q-A{
margin-top: 80px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 150px;
margin-right: 150px;


}
.q-A p{
    font-size: 18px;
    padding: 15px;
    text-align: justify;
    color: rgb(75, 74, 74);
}
.note11{
    display: flex;
    background-color:#fff;
    height: 10vh;
    width: 78%;
    text-align: center;
    margin-left: 155px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px 1px rgb(0, 153, 255);
    
}
.note11 p{
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding-top: 20px;
}
.new{
    margin-top: 40px;
    height: 565vh;
    width: 97.3%;
    background-color:rgb(250 250 250);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.new .img99 {
    float: right;
    margin-right:40px ;
    margin-top: -300px;
    height: 40vh;
    width: auto;
}
.new-section h1{
    text-align: center;
    margin: 30px;
}
.new-section p{
    text-align: center;
    font-size: 18px;
    color: rgb(53, 51, 51);
}
.ul-points{
    height: 37vh;
    width: 50%;
    margin-left: 100px;
    padding: 20px;
    text-align: justify;
    color: rgb(53, 51, 51);
}
.point{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}
.upper-heading{
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.card-container1{
    display: flex;
    justify-content: space-around;
    margin: 40px 90px;
}
.white-card{
    width: 40%;
    height: 30vh;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 3px 2px rgb(232, 232, 215);
    box-sizing: border-box;
    
}
.white-card h2{
    margin: 20px;
}
.white-card p{
    margin: 20px;
    text-align: justify;
    font-size: 17px;
}
.types-section h1{
    text-align: center;
    padding: 50px;
}
.types-section p{
    text-align: center;

   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 0px 180px;
   font-size: 19px;
}
.background{
margin: 50px;
 background-color: #fff;
 height: 55vh;
 width: 85%;
 padding: 15px;
 margin-right: auto;
 margin-left:auto ;
 font-size: 18px;
 border-radius: 15px;
 
}
.format-img{
    float: right;
margin-top: -260px;
}
.gst-no-format h1{
    margin-top: 15px;
}
.gst-no-format p{
    margin-top: 15px;
}
ul{
    margin-top: 25px;
}
ul li{
    margin: 10px;
}
.container-new{
    height: 30vh;
    width:80% ;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230 242 255);
    padding: 10px;
    border-radius: 15px;
    margin-top:70px ;
   
}
.flex{
    display: flex;
}

.container-new h1{
margin: 20px;
}
.container-new p{
font-size: 18px;
margin: 20px;
color: rgb(59, 56, 56);
}
.img100{
 height: 10vh;
 width: auto;
 margin-top: -168px;
 float: right;

}
.container100{
    background-color:  rgb(249 249 249);
    margin: 100px;
    height: 40vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 1px 2px 2px 1px #828080;
}
.container100 h1{
    text-align: center;
    margin: 15px;
  
}
.container100 p{
    float: right;
    font-size: 18px;
    text-align: justify;
   
}
.content100{
    margin-top: -250px;
}
.container50{
    height: 95vh;
    width: 80%;
    background-color: rgb(230 242 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 20px;
}
.img50{
    float: right;
    margin-top: -265px;
}
.inner-content50-1 p{
    margin: 10px;
    font-size: 17px;
}
.inner-content50-2 h1{
    text-align: center;
    margin: 40px;
}
.p{
    float: right;
    margin-top: -250px;
}
.p p{
    font-size: 19px;
}
.img501{
    height: 33vh;
    width: auto;
    margin: 5px;
}

.container33{
    height: 50h;
    width: 80%;
    background-color: rgb(249 249 249) ;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
   margin-top: 100px;
   padding: 15px;
   box-shadow: 1px 2px 2px 1px #828080;
   
}
.content33{
    display: flex;
}
.p33{
    padding: 30px;
}
.p33 h1{
    margin: 10px;
}
.p33 p{
    font-size: 18px;
}
.img33{
    margin:70px 0px;
}
.container34{
    height: 150vh;
    width: 100%;
    margin-top: 120px;
    background-color: rgb(255 245 245);
}
.box34-container{
    display: flex;
    justify-content: space-around;

}
.box34-1{
    height: 25vh;
    width: 31%;
    background-color: #fff;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    margin-left: 150px;
}
.box34-1 h2{
    margin: 10px;

}
.box34-1 p{
    color: #474444;
    font-size: 17px;
}
.container34 h1{
    padding: 40px 0px;
   
    text-align: center;
}
.box34-2{
    height: 25vh;
    width: 31%;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    margin-right: 150px;
}
.box34-2 h2{
    margin: 10px;

}
.box34-2 p{
    color: #474444;
    font-size: 17px;
}
.box34-3{
    height: 25vh;
    width: 31%;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.box34-3 h2{
    margin: 10px;

}
.box34-3 p{
    color: #474444;
    font-size: 17px;
}